<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Some helps</title>
    </head>
    <body>
         {{> header}}
        <p>Some helps</p>
    
    {{> footer}}

    </body>
    
</html>